@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	pre, form, fieldset, textarea, blockquote, span, * {
	font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    height: 100%;
}

body {
    width: calc(100% - 200px);
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
}

#gnb {
    display: grid;
    grid-template-columns: auto 100px 90px 200px;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0 1.5rem;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0 0 0.375rem 0.25rem rgba(161,172,184,.15);
}

.contents {
    width: 100%;
    height: 800px;
    margin-top: 20px;
}

.button {
    border-radius: 0.375rem;
    background-color: #37352f;
    opacity: .5;
    color: #fff;
    cursor: pointer;
    padding: 10px 0px;
    text-align: center;
}

.button:hover {
    opacity: initial;
}

.search-input {
    width: 70%;
    padding: 5px 0px 5px 35px;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #697a8d;
    background-color: #fff;
    border: 1px solid #d9dee3;
}

.border-0 {
    border: 0 !important;
}

.search-icon {
    width: 17px;
    height: 17px;
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='122.879px' height='119.799px' stroke='grey' fill='grey' viewBox='0 0 122.879 119.799' enable-background='new 0 0 122.879 119.799' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M49.988,0h0.016v0.007C63.803,0.011,76.298,5.608,85.34,14.652c9.027,9.031,14.619,21.515,14.628,35.303h0.007v0.033v0.04 h-0.007c-0.005,5.557-0.917,10.905-2.594,15.892c-0.281,0.837-0.575,1.641-0.877,2.409v0.007c-1.446,3.66-3.315,7.12-5.547,10.307 l29.082,26.139l0.018,0.016l0.157,0.146l0.011,0.011c1.642,1.563,2.536,3.656,2.649,5.78c0.11,2.1-0.543,4.248-1.979,5.971 l-0.011,0.016l-0.175,0.203l-0.035,0.035l-0.146,0.16l-0.016,0.021c-1.565,1.642-3.654,2.534-5.78,2.646 c-2.097,0.111-4.247-0.54-5.971-1.978l-0.015-0.011l-0.204-0.175l-0.029-0.024L78.761,90.865c-0.88,0.62-1.778,1.209-2.687,1.765 c-1.233,0.755-2.51,1.466-3.813,2.115c-6.699,3.342-14.269,5.222-22.272,5.222v0.007h-0.016v-0.007 c-13.799-0.004-26.296-5.601-35.338-14.645C5.605,76.291,0.016,63.805,0.007,50.021H0v-0.033v-0.016h0.007 c0.004-13.799,5.601-26.296,14.645-35.338C23.683,5.608,36.167,0.016,49.955,0.007V0H49.988L49.988,0z M50.004,11.21v0.007h-0.016 h-0.033V11.21c-10.686,0.007-20.372,4.35-27.384,11.359C15.56,29.578,11.213,39.274,11.21,49.973h0.007v0.016v0.033H11.21 c0.007,10.686,4.347,20.367,11.359,27.381c7.009,7.012,16.705,11.359,27.403,11.361v-0.007h0.016h0.033v0.007 c10.686-0.007,20.368-4.348,27.382-11.359c7.011-7.009,11.358-16.702,11.36-27.4h-0.006v-0.016v-0.033h0.006 c-0.006-10.686-4.35-20.372-11.358-27.384C70.396,15.56,60.703,11.213,50.004,11.21L50.004,11.21z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 17px;
    background-repeat: no-repeat;
    position: absolute;
    top: 47px;
    margin-left: 10px;
}

#profile-image {
    text-align: center;
}

#profile-name {
    text-align: center;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    color: #566a7f;
}

#issue-table {
    width: 100%;
    border-collapse: collapse;
}

#issue-table .header {
    font-size: 12px;
    color: #707070;
}

.table-item {
    border-top: 1px solid #ccc;
}

#create-issue {
    width: 800px;
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    left: 20%;
    top: 10%;
}

.issue-field-wrap {
    display: grid;
    align-items: center;
    padding: 8px 10px 8px 60px;
    grid-template-columns: 90px auto;
}

.issue-title-wrap,
.issue-content-wrap {
    float: left;
}

.issue-title-wrap {
    margin-right: 10px;
}

.issue-tiny-text {
    color: #707070;
}

select {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.issue-input {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.issue-wrap {
    background-color: white;
}

.issue-header-wrap {
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

.issue-footer-wrap {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 15px 0px;
    text-align: right;
}

.create-issue-btn {
    background: #3572b0;
    border-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.cancel-issue-btn {
    border: none;
    padding: 5px;
    color: #3b73af;
    font-size: 14px;
    margin: 0px 20px;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.hidden {
    opacity: .5;
}

textarea {
    width: 500px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.issue-content-desc {
    display: block;
    color: #707070;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.line {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.issue-title-align {
    position: relative;
    top: -11px;
}

#assign-me {
    display: block;
    color: #3b73af;
    font-size: 14px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

tr {
    height: 37px;
    cursor: pointer;
}

#issue-track-body {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    text-align: center;
}

.issue-item-wrap {
    height: 100%
}

.issue-sub-track-title {
    width: fit-content;
    margin: 5px 5px 10px 5px;
}

.issue-sub-track-title > span {
    background-color: #D3D1CB;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 14px;
}

.issue-card {
    width: 260px;
    height: 140px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    background: white;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}

.issue-card:hover {
    background: rgba(55, 53, 47, 0.03);
}

.issue-item-attr {
    margin: 3px 5px;
}

.issue-card-title {
    display: flex;
    align-items: center;
    padding: 5px;
}

.issue-card-title-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M8 13H14M8 17H16M13 3H5V21H19V9M13 3H14L19 8V9M13 3V7C13 8 14 9 15 9H19' stroke='%2337352f' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
}

.issue-card-type {
    border-radius: 3px;
    width: fit-content;
    background: rgb(245, 224, 233);
    padding: 2px 5px;
}

.issue-card-version {
    width: fit-content;
    border-radius: 3px;
    padding: 2px 5px;
    background: rgb(255, 226, 221);
}

.issue-card-label {
    width: fit-content;
    border-radius: 3px;
    padding: 2px 5px;
    background: rgb(255, 226, 221);
}

.board {
    background-image: url("data:image/svg+xml;charset=utf8,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M2 5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5zm6 0H4v14h4V5zm2 0v14h4V5h-4zm6 0v14h4V5h-4z' fill='%2337352f'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 24px;
    cursor: pointer;
    float: left;
    margin-right: 7px;
}

.table {
     width: 24px;
     height: 24px;
     cursor: pointer;
     background-image: url("data:image/svg+xml;charset=utf8,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%2337352F' width='800px' height='800px' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M9,0H1A1,1,0,0,0,0,1V9a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V1A1,1,0,0,0,9,0ZM8,8H2V2H8Z'/%3E%3Cpath d='M20,0H12a1,1,0,0,0-1,1V9a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V1A1,1,0,0,0,20,0ZM19,8H13V2h6Z'/%3E%3Cpath d='M31,0H23a1,1,0,0,0-1,1V9a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V1A1,1,0,0,0,31,0ZM30,8H24V2h6Z'/%3E%3Cpath d='M9,11H1a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V12A1,1,0,0,0,9,11ZM8,19H2V13H8Z'/%3E%3Cpath d='M20,11H12a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V12A1,1,0,0,0,20,11Zm-1,8H13V13h6Z'/%3E%3Cpath d='M31,11H23a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V12A1,1,0,0,0,31,11Zm-1,8H24V13h6Z'/%3E%3Cpath d='M9,22H1a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H9a1,1,0,0,0,1-1V23A1,1,0,0,0,9,22ZM8,30H2V24H8Z'/%3E%3Cpath d='M20,22H12a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V23A1,1,0,0,0,20,22Zm-1,8H13V24h6Z'/%3E%3Cpath d='M31,22H23a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V23A1,1,0,0,0,31,22Zm-1,8H24V24h6Z'/%3E%3C/g%3E%3C/svg%3E");
     background-repeat: no-repeat no-repeat;
     background-position: center center;
     background-size: cover;
     float: left;
}

#issue-version-select,
#issue-label-select {
    position: absolute;
    width: 508px;
    height: 150px;
    border: 2px solid #ccc;
    background-color: white;
}

.row:hover {
    background: rgba(55, 53, 47, 0.03);
 }

 /** 이슈 편집 페이지 **/
 #edit-issue {
    position: absolute;
    top: 140px;
    left: 95px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 5px;
 }

 #edit-issue input {
    background-color: ghostwhite;
    border: none;
 }

 #edit-issue select {
    border: none;
    background-color: ghostwhite;
    -webkit-appearance: none;
 }

 #edit-issue textarea {
    background-color: ghostwhite;
    border: none;
 }

 #edit-issue .issue-header-wrap {
    background: white;
    background-color: ghostwhite;
    border-top: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px;
 }

 #edit-issue .issue-footer-wrap {
    border-top: none;
    background-color: ghostwhite;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
 }

 #edit-issue .issue-title-align {
    top: initial;
 }

 #edit-issue .issue-wrap {
    background-color: ghostwhite;
 }

.issue-new-version-wrap,
.issue-new-label-wrap,
.issue-edit-version-wrap,
.issue-edit-label-wrap {
    position: absolute;
    background-color: white;
    border: 1px solid silver;
    width: 509px;
    margin-top: 1px;
    overflow-y: auto;
    max-height: 150px;
}

.issue-new-version-wrap,
.issue-new-label-wrap {
    margin-top: -20px;
}

.issue-version-select-item,
.issue-label-select-item {
    margin: 3px 0px 3px 5px;
}

.issue-version-select-item:hover,
.issue-label-select-item:hover {
    background-color: silver;
}
