<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>VOA</title>
	<link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svelte-material-ui@6.0.0/bare.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}" />
	<link href="/dist/bundle.css" rel="stylesheet" type="text/css"/>
	<script defer src="/dist/bundle.js"></script>
</head>
<body>
</body>
</html>